/* Image Grid Styles */
.image-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);

  grid-gap: 20px;
}
.padding {
  padding: 50px;
}
.image-grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

/* Add hover effect */
.image-grid-item:hover .image-item {
  transform: scale(1.1);
}

/* Add shadow and border effect */
.image-grid-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.image-grid-item:hover:before {
  opacity: 1;
}

.image-grid-item:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.image-grid-item:hover:after {
  opacity: 1;
}

/* Add animation effect */
.animate__animated {
  animation-duration: 2s;
}

/* Add animation effect */

.animate__fadeIn {
  animation-name: fadeIn;
}

.animate__flipInX {
  animation-name: flipInX;
}

.animate__zoomIn {
  animation-name: zoomIn;
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}
.animate__slideInLeft {
  animation-name: slideInLeft;
}
.animate__bounceIn {
  animation-name: bounceIn;
}
.animate__rotateIn {
  animation-name: rotateIn;
}
.animate__flipIn {
  animation-name: flipIn;
}
.animate__swingIn {
  animation-name: swingIn;
}
.animate__pulse {
  animation-name: pulse;
}
.animate__flash {
  animation-name: flash;
}
.animate__shake {
  animation-name: shake;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounceIn {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes flipIn {
  from {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes swingIn {
  from {
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  to {
    transform: rotateZ(0);
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes shake {
  from,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
